{% extends "layout.html" %}

{% block title %}
About Us
{% endblock %}


{% block main %}
<!DOCTYPE HTML!>
 <link href="/static/styles.css" rel="stylesheet">

  <body>
    <h4 class = "aboutustitle">About Us - <u>The Team!</u></h4>
    
    <div class = "pic">

      
    <div class="cardOlla card">
      <a href="https://www.instagram.com/olla_obeid/"><img class = "olla cardImage"src="https://lh3.googleusercontent.com/EDqvRvJxM8Xiflr5IglNkWyJMLZx0AFiAf01bNOVrBVKRqUkR7bvpcRVnMCbkD_44q_5irCPwMWPZq0-hNn7Gh1Te8g0YxCgy9Ldh-_t18u0TxEzVKbp0KYhsc6uTXzWcYia7aEhJQ=w2400"></a>
<h3 class="cardText">Olla Obeid: <br>Rising Sophomore,</br> NJ, United States, <br>
Mainly worked on design and website layout
  
</h3>
      
    </div>

    <div class="cardSachi card" >
     <a href="https://www.instagram.com/princetux_thecorgi/"><img class = "sachi cardImage"src="https://lh3.googleusercontent.com/3uGOIV6FYoTFlzIxMg44KeMFOSfHoj05_y0zicF_tiqVcW1d_jI51vSv5y_bLgoJ2dbwji9P9Htattr5NoQZoWFVgIomXz5VFAwK62YkYfoAnbGdLUnGJq0gDirryUHNk4AGk4SxQg=w2400"></a>
      <h3 class="cardText">  Sachi Mehta: <br>Rising Sophomore,<br> CT, United States <br>
Mainly worked on Backend development with Python, and SQL
</h3>
    </div>
      
    <div class="cardSophie card" >
      <a href="https://www.instagram.com/sophie.ngu1/"><img class = "sophie cardImage"src="https://lh3.googleusercontent.com/F8el_2YD_jYCW2PQUEaYLBa_BADTePBQgO3RoYdbbz5SVgh8nrnrqJE2SEDPQCxkfC0b0DWjcIecSiGcyF_oweXgGo_yaqZgmbK-XbEF2Zf7cxPg4PsVvpoPVsnK2PhdqwQxqFXshA=w2400"></a>
      <h3 class="cardText">  Sophie Nguyen: <br>Rising Sophomore,<br> MD, United States <br>
Mainly worked  on design layout and data visualization
</h3>
    </div>
    <div class="cardVicka card">
      <a href="https://www.instagram.com/v.icka/"><img class = "vicka cardImage"src="https://lh3.googleusercontent.com/N5mtly8HH2ydgl5rnCIrcVdp_ABJvPmZEdN7JLfLcjca4jQYBFOic7b2QqgWkUswqE4QCpCA0V5TuFqLJoSCg0ANgndE-0__OZQirChX03zF8qgVMC2pF5tQrQVH7yu0Dt-qkg6yBw=w2400"></a>
      <h3 class="cardText"> Vicka Chernobay:<br>
        Rising Sophomore<br>
ON, Canada<br>
Mainly worked on design, HTML & CSS
</h3>
    </div>
    </div>
  </body>
{% endblock %}
