{% extends "layout.html" %}

{% block title %}
Better Environment, Better Mind

{% endblock %}

{% block main %}


<main>

    <h1 class = "probState">According to a report issued by the APA, over 3/4 of Americans reported that they were concerned about climate change. Because the climate crisis is exacerbating, it can lead to an increase in mental health illnesses and feelings of anxiety. 
</h1>


  <img class = "leafGif" src = "https://i.pinimg.com/originals/3e/41/9d/3e419de254373fda06cd9a8213f77366.gif">

    <img class = "leafGif" src = "https://i.pinimg.com/originals/3e/41/9d/3e419de254373fda06cd9a8213f77366.gif">
  
  <img class = "leafGif" src = "https://i.pinimg.com/originals/3e/41/9d/3e419de254373fda06cd9a8213f77366.gif">


  <div class = "fadeIn">
<h2 class = "mission"> Follow us on our mission to study how climate change impacts our mental health and educate people about this issue, thus preventing it from worsening.
 </h2>
  </div>
  
  
</main>


{% endblock %}