{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block alert %}
<div class="alert alert-warning" role="alert">
  <strong>WARNING:</strong> This site is a prototype please do not enter any usernames or passwords that you use for other sites!
</div>
{% endblock %}

{% block main %}

    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
      
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        {% with messages = get_flashed_messages() %}
           {% if messages %}
              {% for message in messages %}
                 {{ message }}
              {% endfor %}
           {% endif %}
        {% endwith %}
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}